  <!DOCTYPE html>
 <html>
 <head>
     <title>ADS</title>
     <%= stylesheet_link_tag "application", media: "all",
        "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application",
        "data-turbolinks-track" => true %>
     <%= csrf_meta_tag %>
 </head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= @page_title || "ADS" %>
  </div>
  <div id="columns">
 </div>
<div id="main">
    <%= yield %>
  </div>
 </div>
</body>
</html>
